input-control {
  ion-item {
    width: 20%;
    text-align: center;
  }

  .active {
    background-color: azure;
  }

  .ready {
    background-color: greenyellow;
  }

  .error{
    color: red;
  }
}
