<!-- Generated template for the InputControlComponent component -->
<!--
    angular és enumok
    https://www.grapecity.com/en/blogs/using-typescript-enums-angular-templates

    ngClass expression:
    https://scotch.io/tutorials/the-many-ways-to-use-ngclass
    https://stackoverflow.com/questions/35269179/angular-conditional-class-with-ngclass?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa

    css utilites
    https://ionicframework.com/docs/theming/css-utilities/

    az alján fasza keyboard dolog
    https://mhartington.io/post/setting-input-focus/
    -->
<!--<ion-item [ngClass]="currentClass" *ngIf="currentStatus>0">-->
<!-- <ion-item [ngClass]="{ 'ready' : currentStatus == 2, 'active': currentStatus == 1}" *ngIf="currentStatus > 0"> -->

<ion-item class="active" *ngIf="currentStatus == 1">
  <ion-label color="primary" floating [innerHTML]="labelText"></ion-label>
  <ion-input #inputTextBox [placeholder]="inputPlaceholderText" text-center [(ngModel)]="inputText"></ion-input>
  <button item-end ion-button (click)="this.finish.emit(this.inputText)" [innerHTML]="buttonText"></button>
</ion-item>

<ion-item class="ready" *ngIf="currentStatus == 2">
  <ion-label color="secondary" [innerHTML]="readyText"></ion-label>
</ion-item>
